@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_MyLayout";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


@section HeadSection{
    <h3>hello my name is jawad and iam the manager of this site and we appreiciate our privacy</h3>
}


@section FooterSection{
    You are always welcome 
}