@model Course
@{
    ViewData["Title"] = "Edit";
    SelectList departmentOption = new SelectList(ViewBag.Departments,"Id","Name");
}

<h1>Edit Course</h1>

<form method="post" asp-action="saveCourse" asp-controller="Course">
    <label class="form form-control" asp-for="Name" ></label>
    <input class="form form-control" asp-for="Name" value="@Model.Name" />
    <br />
    <label class="form form-control" asp-for="Degree"></label>
    <input class="form form-control" asp-for="Degree" value="@Model.Degree" />
    <br />
    <label class="form form-control" asp-for="MinDegree"></label>
    <input class="form form-control" asp-for="MinDegree" value="@Model.MinDegree" />
    <br />
    <select class="form form-control" 
            asp-for="DepartmentId" asp-items="@departmentOption">
            
    </select>
    <br />
    <input type="submit" class="btn btn-success" />

</form>